*{
  color : black;
}
#beagle{
  
    left: 38px;
    top: 47px;
    border: 2px solid #000000;
    margin: 10px;
    padding: 20px;
    line-height: 20px;
}

#image-section{
   
    left: 58px;
    top: 874px;
    margin: 10px;
    
}

#trivia{
    
     left: 58px;
    top: 1795px; 
    
    font-family: 'Inter';
    line-height: 25px;
    
}
#b-image{
    padding-bottom: 10px;
}
#id{
    left: -58px;
}
